// get the page ready
* { outline: none; box-sizing: border-box; }
body { padding: 0; margin: 0; }
html, body, .react-native-web { height: 100%; width: 100%; position: absolute; top: 0; right: 0; overflow: hidden;}
body, button, input {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 1em;
}

// let the real CSS begin
.react-native-web {
  justify-content: center;
  display: flex;
  flex-direction: column;
  
  background-color: #f2f2f2;
  
  .ActionButton {
    margin: 28px 0;
    padding: 16px;
    background: #A5D6A7;
    color: #fff;
    border: none;
    box-shadow: none;
    width: 100%;
  }
  
  .navbar {
    flex-direction: row;
    align-items: center;
    border-bottom-color: #eee;
    border-color: transparent;
    border-width: 1px;
    justify-content: center;
    height: 44px;
  }
  
  .navbarTitle {
    color: #444;
    font-size: 32px;
    font-weight: 500;
  }
  
  .ListView {
    max-height: 500px;
    overflow-y: auto;
    color: #333;
    
    .touchable-highlight {
      background-color: #fff;
      border-bottom: #eee;
      padding: 16px 16px;
      font-size: 1.2em;
      
      &:nth-child(odd) {
        background-color: #f8f8f8;
      }
    }
  }
  
  .view.li {
    .li-text {
      color: #333;
      //font-size: 16px;
    }
  }
  
  .center {
    text-align: center;
  }

  .hello-world {
    border: 1px solid #ff00ff;
    display: inline-block;
    display: inline-block;
    
    /*
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50%;*/
  }
  
  .menu-item {
    border: 1px solid red;
  }
}
